* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 2rem;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

label,
button,
p,
input,
li {
  font-size: 1.5rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
  font-weight: lighter;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration-line: underline;
  font-weight: bold;
}
button {
  background-color: #4c6e97;
  padding: 1rem 4rem;
  color: whitesmoke;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.4s ease;
}

button:hover {
  background-color: whitesmoke;
  color: #4c6e97;
}

/* Nav Section with HERO */
.main-header {
  background: #131c27;
  color: whitesmoke;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

#logo {
  font-size: 2.5rem;
  font-family: "Pattaya", sans-serif;
  flex: 2 1 30rem;
  font-weight: lighter;
  cursor: pointer;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/starting-files/img/landing-page8.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: whitesmoke;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.486);
}
.hero h3 {
  padding: 3rem;
  font-weight: 340;
}
.hero i {
  font-weight: 100;
}

/* Locations */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/starting-files/img/new-york-page.png");
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  overflow: hidden;
}

.locations-header {
  width: 90%;
  margin: auto;
  font-weight: 400;
}

.locations-header h2 {
  padding: 3rem 0rem;
  text-decoration-line: underline;
  text-decoration-thickness: 0.5rem;
}
.locations-header h3 {
  font-size: 2.3rem;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  z-index: 0;
  animation: cumulusAnimation 10s infinite alternate-reverse ease-in-out;
}
.moving-cloud-2 {
  opacity: 0.8;
  top: 20%;
  z-index: -1;
  animation: cumulusAnimation 20s infinite alternate ease-in-out;
}

@keyframes cumulusAnimation {
  from {
    transform: translate(25%, -8%);
  }
  to {
    transition: translate(50%, -30%);
  }
}

/* Media Query */
@media screen and (max-width: 777px) {
  nav {
    text-align: center;
  }
  nav ul {
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }
  #logo {
    padding: 1rem;
  }
}
